canvas
{
  margin-top:15%;
  
}

.text
{
  text-align:center;
  font-size:40px;
  font-weight:600;
  margin-top:10px;
    font-family: 'Concert One',cursive;
background: linear-gradient(to top left, #E00000 0%, #EBFF38 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
